body {
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .2 inherit;
}

html {
    font-size: 62.2%;
    scroll-behavior: smooth;
    scroll-snap-stop: 6rem;
}

.container-fluid {
    background-color: rgba(190, 189, 189, 0.5);
    padding: 0px;

    header {
        background-color: rgba(190, 189, 189, .99);
        border: .1rem solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .5);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1000;

        .avata {
            position: absolute;
            top: 1rem;
            left: 2rem;
            flex-wrap: wrap;
            width: 30%;
            background: rgba(150, 146, 146, 0.99);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            border-radius: .5rem;
            box-shadow: 0 1rem 1.5rem rgba(57, 55, 55, 0.5);

            label {
                width: 10rem;
                height: 10rem;
                padding: 1rem;
                background: #c6bbbb;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                box-shadow: .1rem 1rem 2rem rgb(138, 119, 119);
                cursor: pointer;

                .fa-user-plus {
                    font-size: 4rem;
                    color: #fff;
                }
            }

            .fa-circle-xmark {
                font-size: 2.5rem;
                cursor: pointer;
                color: #fff;
                top: .1rem;
                right: .1rem;
            }

            span {
                padding-top: 1rem;
                font-size: 2rem;
                color: #fff;
            }
        }
    }

    .main {
        padding-top: 11rem;
    }

    #nen {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid rgb(181, 175, 175);
        position: relative;
    }

    .fa-regular {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5rem;
    }

    Img {
        height: inherit;
        border-radius: 10px;
    }

    h2 {
        color: white;
        font-weight: bold;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .d-flex {
        justify-content: space-between;
        align-items: center;

        .inbox {
            border-radius: 10px;
            border: 1px solid rgb(181, 175, 175);
            width: 80px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo {
            width: 70px;
            height: 70px;
            border-radius: 18%;
            border: 1px solid rgb(181, 175, 175);

            .fa-user-plus {
                font-size: 3rem;
                color: #fff;
            }
        }

        .inbox:hover {
            i {
                color: rgb(231, 40, 40);
            }
        }
    }

    //main
    .dichvu {
        display: flex;
        cursor: pointer;
        color: white;
        position: relative;
        text-decoration: none;
        font-weight: 600;
        border-radius: 10px;
        overflow: hidden;
        padding: 1px;
        isolation: isolate;
    }

    .dichvu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        height: 100%;
        background: linear-gradient(115deg, #e65748, #eece50, #c39fe6, #91c0d3, #638470);
        background-size: 25% 100%;
        animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
        animation-play-state: paused;
        translate: -5% 0%;
        transition: translate 0.25s ease-out;
    }

    .dichvu:hover::before {
        animation-play-state: running;
        transition-duration: 0.75s;
        translate: 0% 0%;
    }

    @keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
        to {
            transform: translateX(-25%);
        }
    }

    //home
    .dichvu>div {
        position: relative;
        border-radius: 10px;
        background-color: rgb(81, 77, 77);
        text-align: center;
        height: 100%;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dichvu>div:hover {
        img {
            transition: all 1s ease-in-out;
            border-bottom-right-radius: 10rem;
            border-bottom-left-radius: 5rem;
            margin: auto;
            transform: rotateY(180deg);
        }

        h3 {
            background: radial-gradient(circle at 30% 107%, #969fff 0%, #a65eda 90%);
            padding: 5px;
            border: 1px solid white;
            border-radius: 5px;
            transition: all 1s ease-in-out;
        }

        @keyframes rotation_481 {
            0% {
                transform: rotateZ(0deg);
            }

            0% {
                transform: rotateZ(360deg);
            }
        }
    }



    .col {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    //footer
    .dichvu {
        .card {
            width: 100%;
            height: 22.5em;
            background: #323232;
            transition: 1s ease-in-out;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            display: flex;
            flex-direction: column;
        }

        .card span {
            font-weight: bold;
            color: white;
            text-align: center;
            margin-top: 1rem;
            display: block;
            font-size: 1em;
        }

        .card .info {
            font-weight: 400;
            color: white;
            display: block;
            text-align: center;
            font-size: 0.72em;
            margin: 1em;
        }

        .card .img {
            width: 7.3rem;
            height: 7.3rem;
            background: white;
            border-radius: 15px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: #323232;
                font-size: 3rem;
            }
        }

        .card .share {
            margin-top: 1em;
            display: flex;
            justify-content: center;
            gap: 1em;
        }

        .card a {
            color: white;
            transition: .4s ease-in-out;
        }

        .card a:hover {
            color: red;
        }

        .card button {
            padding: 0.8em 1.7em;
            display: block;
            margin: auto;
            border-radius: 25px;
            border: none;
            font-weight: bold;
            background: #ffffff;
            color: rgb(0, 0, 0);
            transition: .4s ease-in-out;
        }

        .card button:hover {
            background: red;
            color: white;
            cursor: pointer;
        }
    }

    //cutting
    .cutting {
        button {
            padding: 0.8em 1.7em;
            display: block;
            margin: auto;
            width: 74%;
            border-radius: 10px;
            border: none;
            font-weight: bold;
            background: #ffffff;
            color: rgb(0, 0, 0);
            transition: 1s;
            margin-top: 20px;
        }

        button:hover {
            background: red;
            color: white;
            cursor: pointer;
        }
    }

    //media
    @media (max-width: 576px) {
        #nen {
            width: 50px;
            height: 50px;
        }

        .col {
            padding: 0;
            margin: 10;
        }

        .dichvu>div {
            height: 180px;
            width: 130px;

            img {
                width: 100px;
            }



        }

        .dichvu>.card .img {
            width: 5.2rem;
            height: 5.2rem;
        }

        .d-flex {
            .inbox {
                width: 60px;
                height: 40px;
            }

            .logo {
                width: 50px;
                height: 50px;
            }
        }

        h2 {

            font-size: 30px;
        }

        //cutting
        .cutting {
            padding: 0;
        }

        //avata
        header>.avata {
            width: 40%;
            left: .5rem;

            label {
                width: 5rem;
                height: 5rem;

                .fa-user-plus {
                    font-size: 2rem;
                }
            }

            span {
                font-size: 1rem;
            }
        }


    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 576px) {
        .logo {
            width: 60px;
            height: 60px;
        }

        .dichvu>div {
            width: 230px;

            img {
                width: 165px;
            }
        }

        //avata

        header>.avata {
            width: 35%;

            label {
                width: 6rem;
                height: 6rem;

                .fa-user-plus {
                    font-size: 2rem;
                }
            }

            span {
                font-size: 1.3rem;
            }

        }

    }

    @media (min-width:776px) {
        header>.avata {
            width: 40%;
            left: .5rem;

            label {
                width: 8rem;
                height: 8rem;


                .fa-user-plus {
                    font-size: 3.5rem;
                }
            }

            span {
                font-size: 2rem;
            }

        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {

        // cutting
        .cutting {
            width: 776px;
            margin: 0 auto;

            button {
                width: 50%;
            }
        }

        .dichvu>div {

            img {
                width: 200px;
            }
        }

        .d-flex {
            img {
                width: 960px;
                height: 400px;
            }

            margin: 0 40px;
        }

        //avata
        header>.avata {
            width: 30%;

            label {
                width: 8rem;
                height: 8rem;

                .fa-user-plus {
                    font-size: 4rem;
                }
            }

        }

        // XX-Large devices (larger desktops, 1400px and up)
        @media (min-width: 1400px) {}
    }
}